{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h3>Registro de usuario</h3>

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 35rem;">
        <div class="card-body">
          <h5 class="card-title">Registrate en nuestra tienda</h5>
    {{ form | crispy }}

          <a href={% url 'home' %} class="card-link">Inicio</a>
          <a href={% url 'login' %} class="card-link">Iniciar sesión</a>
          <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
        </div>
      </div>

    
    <!--<input type="text" name="username" id="" placeholder="Nombre usuario">
    <br>
    <input type="password" name="password" id="" placeholder="Contraseña">
    <br>-->
    

</form>

{% endblock %}